python-telegram-bot
yfinance
pandas
numpy
plotly
pytz
google-api-python-client
youtube-transcript-api
google-generativeai
twikit
pandas-market-calendars
python-dotenv
requests
beautifulsoup4
selenium