[Unit]
Description=TradeTracker Telegram Bot
Wants=update-bot.service
After=update-bot.service

[Service]
EnvironmentFile=/home/yuval/tradetracker_bot/varribles.env
ExecStart=/home/yuval/tradetracker_bot/.venv/bin/python /home/yuval/tradetracker_bot/bot.py
WorkingDirectory=${PROJECT_DIR}
User=yuval
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target