[Unit]
Description=Update TradeTracker Bot from GitHub
# This ensures the service runs after the network is online, which is needed for git pull
After=network-online.target

[Service]
Type=oneshot
# Load the environment variables from this file
EnvironmentFile=/home/yuval/tradetracker_bot/varribles.env
# The script to run. Note: The script itself will read PROJECT_DIR.
ExecStart=/bin/bash ${PROJECT_DIR}/update.sh
User=yuval

[Install]
WantedBy=multi-user.target